.vs/gmg_home_assistant/v17/DocumentLayout.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/gmg_home_assistant/FileContentIndex/2a10a307-12c4-4069-b3c1-e7984b654697.vsidx
.vs/gmg_home_assistant/v17/.wsuo
